<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>疫情数据系统</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/china.js"></script>
</head>
<body>
    <div style="border: 0px solid #000000; width: 1000px;margin: 0 auto;">
        <br>
        <div class="page-header"><h2>国内疫情情况如下</h2></div>
        <br>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main1" style="width: 1000px;height:700px;"></div>
        <script th:inline="javascript">

            var dataStr1 = [[${mapData1}]];
            var dataStr2 = [[${mapData2}]];

            // 基于准备好的dom  初始化实例
            var mychart = echarts.init(document.getElementById("main1"));
            var option = {
                title: {
                    text: '疫情地图',
                    subtext: '仅供参考',
                    x: 'center'
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['现有确诊', '累计确诊']
                },
                visualMap: {
                    type: 'piecewise',
                    pieces: [
                        {min: 10000, max: 1000000, label: '10000人及以上', color: '#de1f05'},
                        {min: 1000, max: 9999, label: '1000-9999人', color: '#ff2736'},
                        {min: 500, max: 999, label: '500-999人', color: '#ff6341'},
                        {min: 100, max: 499, label: '100-499人', color: '#ffa577'},
                        {min: 10, max: 99, label: '10-99人', color: '#ffcea0'},
                        {min: 1, max: 9, label: '1-9人', color: '#ffe7b2'},
                        {min: 0, max: 0, label: '0人', color: '#e2ebf4'},
                    ],
                    calculate: true
                },
                series: [
                    {
                        name: '现有确诊',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                position: 'center',
                                show: true
                            }
                        },
                        data: JSON.parse(dataStr1)
                    },
                    {
                        name: '累计确诊',
                        type: 'map',
                        mapType: 'china',
                        roam: false,
                        label: {
                            normal: {
                                position: 'center',
                                show: true
                            }
                        },
                        data: JSON.parse(dataStr2)
                    }
                ]
            };
            // 将参数设置进去
            mychart.setOption(option);

        </script>

        <br>
        <br>
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main2" style="width: 600px;height:400px;"></div>
        <script th:inline="javascript">

            var dateStr = [[${dateList}]];
            var confirmStr = [[${confirmList}]];
            var suspectStr = [[${suspectList}]];

            // 基于准备好的dom 初始化实例
            var mychart = echarts.init(document.getElementById('main2'));
            var option={
                // 标题
                title: {
                    text: '全国疫情新增趋势'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['新增确诊','新增疑似']
                },
                // x轴数据
                xAxis: {
                    data: dateStr
                },
                // y轴数据
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '新增确诊',
                        type: 'line',
                        data: confirmStr
                    },
                    {
                        name: '新增疑似',
                        type: 'line',
                        data: suspectStr
                    }
                ]
            };
            // 将参数设置进去
            mychart.setOption(option);
        </script>

        <br>

        <table class="table table-hover">
            <thead>
            <tr>
                <th> <p th:text="#{list.table.name1}">地区</p> </th>
                <th> <p th:text="#{list.table.name2}">现有</p> </th>
                <th> <p th:text="#{list.table.name3}">累计</p> </th>
                <th> <p th:text="#{list.table.name4}">治愈</p> </th>
                <th> <p th:text="#{list.table.name5}">死亡</p> </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bean:${list}">
                <td th:text="${bean.area}">area</td>
                <td th:text="${bean.nowConfirm}">nowConfirm</td>
                <td th:text="${bean.confirm}">confirm</td>
                <td th:text="${bean.heal}">heal</td>
                <td th:text="${bean.dead}">dead</td>
            </tr>
            </tbody>
        </table>

    </div>
</body>
</html>