<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{list.title}">Title</title>
  <link rel="stylesheet" th:href="@{css/bootstrap.css}">
</head>
<body>
  <h2 th:text="#{list.h2}">国内疫情情况如下</h2>
  <br>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> <p th:text="#{list.table.name1}">地区</p> </th>
        <th> <p th:text="#{list.table.name2}">现有</p> </th>
        <th> <p th:text="#{list.table.name3}">累计</p> </th>
        <th> <p th:text="#{list.table.name4}">治愈</p> </th>
        <th> <p th:text="#{list.table.name5}">死亡</p> </th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="bean:${list}">
        <td th:text="${bean.area}">area</td>
        <td th:text="${bean.nowConfirm}">nowConfirm</td>
        <td th:text="${bean.confirm}">confirm</td>
        <td th:text="${bean.heal}">heal</td>
        <td th:text="${bean.dead}">dead</td>
      </tr>
    </tbody>
  </table>

  <label>
    <a class="btn btn-sm" th:href="@{/list(lan='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/list(lan='en_US')}">英文</a>
  </label>
</body>
</html>